#requirements.txt
streamlit
yt-dlp
google-generativeai
pinecone-client==2.2.4
sentence-transformers
torch
tqdm
requests
numpy
langsmith
langchain
langchain-core
langchain-google-genai
langchain-pinecone
langchain-community
langchain_huggingface
youtube-transcript-api
protobuf
wikipedia
beautifulsoup4
scikit-learn
google-search-results 
tavily-python
typing-extensions
pydantic
aiohttp